/build
/node_modules
/coverage
/.pnp
.pnp.js

.DS_Store

.vscode
/.idea
/.eclipse

.env*
Dockerfile*
.*ignore
tsconfig.json
*.config.json
.git*

package.json
package-lock.json
npm-debug.log
yarn.lock
yarn.debug
yarn-error.log